<div class="main_upper">
  <div class="room_name">
    <%= @room.name %>
  </div>
  <div class="finish_chat">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main_middle">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: 'main_lower', local: true do |f| %>
  <div class="new_message">
    <%= f.text_field :content, class: 'type_message', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="image_file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit "送信", class: 'send_btn' %>
<% end %>
